@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <script src="~/lib/vue/vue_2.6.12.js"></script>

    <title>Index</title>
</head>
<body>


    <div id="app">
        <input type="text" v-on:input="changeTitle" />
        <p>{{sayHello()}} <a v-bind:href="link">Google</a> </p>
    </div>
</body>
</html>


<script type="text/javascript">

    new Vue({
        el: '#app',
        data: {
            title: 'Hello Wold!',
            link : 'http://google.com'
        },
        methods: {
            changeTitle: function (event) {
                this.title = event.target.value;
            },
            sayHello: function () {
                return this.title;
            }
        }
    });
</script>